* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  height: 100vh;
  background-color: #cd5c5cda;
  color: #fff;
  position: relative;
}

.head::before {
  content: "";
  background: url(../../Images/dubai.jpg) no-repeat center center/cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.head-content {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 10px;
  width: 78%;
}

.head-content p {
  border: 1px solid #fff;
  padding: 10px;
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
}

.btn-details {
  background-color: #f7d010;
  border: 1px solid #fff;
  text-align: center;
  width: 40%;
  border-radius: 30px;
  padding: 8px;
}

.btn-details:hover {
  background-color: #fff;
  border: 1px solid #f7d010;
  transition: 1.5s;
}

.head-text {
  padding-bottom: 12px;
  font-weight: 400;
}
