.about-sec {
  height: auto;
  width: 100%;
}

.about-content {
  width: 78%;
  margin: 0 11%;
  padding: 0;
}

.about-img img {
  border-radius: 150px;
  margin: 85px 0;
}

.about-details {
  margin-top: 85px;
  margin-bottom: 45px;
  text-align: left;
  padding: 20px;
}

.about-text h4 {
  text-align: center;
  text-decoration: underline;
  padding-bottom: 10px;
}

.about-cards {
  background-color: #f7d010da;
  box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -webkit-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -moz-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  cursor: pointer;
  margin: 10px 0;
}

.about-cards:after {
  display: block;
  content: "";
  border-bottom: 4px solid #cd5c5c;
  transform: scaleX(0);
  transition: transform 1s ease-in-out;
}

.about-cards:hover {
  box-shadow: -8px 10px 4px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -8px 10px 4px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 10px 4px 0 rgba(0, 0, 0, 0.75);
  transition: 1.5s;
}

.about-cards:hover:after {
  box-shadow: -8px 10px 4px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -8px 10px 4px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 10px 4px 0 rgba(0, 0, 0, 0.75);
  transition: 1.5s;
  transform: scaleX(1);
  transform-origin: 50% 50% 10% 60%;
}

.about-items {
  display: flex;
  padding: 10px 10px 0 10px;
}

.about-icon {
  padding-right: 10px;
  color: #cd5c5c;
  margin-top: 20px;
}
