* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-menu {
  display: flex;
  justify-content: right;
  background-color: #cd5c5c;
  width: 100%;
  height: 70px;
  top: 0;
  align-items: center;
  position: sticky;
  z-index: 1;
}

.nav-color {
  background-color: #38004c;
}

.nav-menu ul {
  margin-top: 12px;
  display: flex;
  margin-right: 10%;
}

.nav-menu ul li {
  list-style: none;
  margin-right: 30px;
  color: #fff;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}

.nav-menu ul li:hover {
  color: #ff0;
  transition: 1.5s;
}

.nav-items .active {
  color: #ff0;
}
