.feed-section {
  height: auto;
  margin-top: 40px;
}

.feed-content {
  width: 78%;
  margin: 10px 11% 40px 11%;
  padding: 0;
}

.feed-slider {
  padding: 12px;
  color: #fff;
  background-color: orange;
  text-align: center;
  margin: 40px 0;
}

.feed-slider img.feed-img {
  height: 50px;
  width: 50px;
  border-radius: 70px;
  object-fit: cover;
  align-items: center;
  margin-top: -40px;
}