.footer-section {
  height: auto;
  margin: 50px 0 0 0;
  background-color: #030749;
  color: #fff;
}

.footer-content {
  width: 78%;
  margin: 0 11%;
  padding: 0;
}

.footer-deatils {
  margin: 30px 0;
}

.footer-icons {
  display: flex;
  color: orange;
  cursor: pointer;
}

.footer-icons p {
  margin-right: 8px;
}