.footer-section {
  height: auto;
  margin: 50px 0 0 0;
  background-color: #030749;
  color: #fff;
}

.footer-content {
  width: 78%;
  margin: 0 11%;
  padding: 0;
}

.footer-about {
  margin: 30px 0;
}

.footer-icons {
  display: flex;
  color: orange;
  cursor: pointer;
}

.footer-icons p {
  margin-right: 8px;
}

.footer-service {
  margin: 30px 0;
}

li {
  --border-color: rgb(40, 116, 59);
  --border-color2: rgb(254, 253, 252);
  --border-width: 2px;
  --bottom-distance: 0;

  display: block;
  background-image: linear-gradient(var(--border-color), var(--border-color2));
  background-size: 0% var(--border-width);
  background-repeat: no-repeat;
  transition: background-size 1s;
}

.footer-item li {
  list-style-type: none;
  padding-top: 8px;
  background-position: 0 calc(100% - var(--bottom-distance));
  width: fit-content;
}

.footer-item li:hover {
  background-size: 100% var(--border-width);
  cursor: pointer;
}

.footer-custom {
  margin: 30px 0;
}
